# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# PostgreSQL / local data
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Frontend build
dist/
build/

# IDE / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
